#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off
#php_flag log_errors on
#php_flag ignore_repeated_errors off
#php_flag ignore_repeated_source off
#php_flag report_memleaks on
#php_flag track_errors on
#php_value docref_root 0
#php_value docref_ext 0
#php_value error_log /home/m/mcflow/integraforlife.com/public_html/PHP_errors.log
#php_value error_reporting 2047
#php_value log_errors_max_len 0

<Files PHP_errors.log>
    Require all denied
</Files>
#php_value display_errors on
#php_value display_startup_errors on

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . index.php [L]

RewriteCond %{HTTP_HOST} ^www\.integraforlife\.com$ [NC]
RewriteRule ^(.*)$ https://integraforlife.com/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,NE,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

Redirect 301 /webinar/2TSM1uzVvwzl https://integraforlife.com/nutrition-course
Redirect 301 /webinar/nUbgZDyv1Gry https://integraforlife.com/city-event
Redirect 301 /webinar/hEkBGPYeqe4b https://integraforlife.com/medical-conference
Redirect 301 /webinar/qCEmeiO8EA3q https://integraforlife.com/health-in-the-city
Redirect 301 /webinar/yZfZNm5I8EIX https://integraforlife.com/rehabilitation
Redirect 301 /webinar/KUsc9XLAdwqe https://integraforlife.com/hormonal-health
Redirect 301 /webinar/5Phm6P6z4MIU https://integraforlife.com/digestive-health
Redirect 301 /webinar/ou88rPNyBHb https://integraforlife.com/international-conference-moscow
Redirect 301 /webinar/BwUyQFyYo3qu https://integraforlife.com/course-of-hypoxia
Redirect 301 /webinar/o9AIGZkWDg2F https://integraforlife.com/course-of-hypoxia
Redirect 301 /webinar/aNcrN48Nfzff https://integraforlife.com/course-of-hypoxia
Redirect 301 /webinar/vPpSpgNHhsf5 https://integraforlife.com/happiness
Redirect 301 /webinar/vzAAU0jWbYhP https://integraforlife.com/healthy-legacy
Redirect 301 /webinar/qTPnvNL1p4 https://integraforlife.com/hormonal
Redirect 301 /webinar/0MMzRV1ETlVP https://integraforlife.com/conference-sochi-online
Redirect 301 /webinar/lkWA2GvOaUJ0 https://integraforlife.com/conference-sochi-online
